/* For Tablets */
@media (max-width :1000px){
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list li {
        display: inline-block;
        margin: 0 10px;
    }

    .top-wrapper {
        padding: 200px 50px;
    }
    .gallery-wrapper{
        max-width: 100%;

    }
    
    .gallery {
        flex-direction: row;
        flex-wrap: warp;
        width: 100%;
    }
    .gallery-item {
        width: 100%;
    }
    .message-wrapper{
        max-width:100%;
        height: 400px;
    }
    .top-wrapper1{
        max-width: 900px;
    }
    .container {
        width: 95%; /* Adjust width for tablets */
    }
    .gallery1{
        padding:20px;
        margin-bottom: 20px;
    }
    .gallery-wrapper1{
        max-width: 100%;
        height:1400px;
    }
    .post-wrapper{
        height: 800px;
    }
    .video{
        padding: 10px;
        width:50%;
        height:auto;
    }

    
   
}

/* For smart-phone */
@media (max-width:670px){
    
    .nav-list li {
        display: block;
        margin: 10px 0;
    }
    
    .top-wrapper {
        padding: 50px 10px;
    }
    .gallery-wrapper{
        max-width: 100%;
        height: 900px;
    }
    
    .gallery {
        flex-direction: column;
        width: 60%;
    }
    .gallery-item {
        width: 100%;
    }
    .message-wrapper{
        max-width:100%;
        height: 700px;
    }
    iframe{
        width:70%;
        height: 220px;
    }
    .top-wrapper1{
        max-width: 100%;
        
    }
    
    .gallery1{
        padding:20px;
        margin-bottom: 20px;
    }
    .gallery-wrapper1{
        max-width: 100%;
        height:2100px;
    }
    .post-wrapper{
        height: 700px;
        width: 100%;
    }
    .video{
        margin:auto;
        width:100%;
        height:auto;
    }
}
