*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: left;
}
/* Reset default list styles */
.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #f0f0f0; 
}

.header-left {
    flex: 1; /* Take up available space */
    font-size: 18px;
}

.header-right {
    display: flex;
    align-items: center;
}
.header-right i{
    color: #007bff;
    font-size: 24px;
}
.header-right i:hover{
    color: coral;
}

.nav-list li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Adjust spacing between items */
}

.social-icon {
    margin-left: 20px; /* Adjust spacing between navigation links and social icon */
}
.header-right  a:hover,
.header-right  a:focus {
    text-decoration: underline;
}
.header-right a {
    font-size: 18px;
    color:#333;
    text-decoration: none;
    margin-left: 15px;
}
.container{
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.top-wrapper{
    padding: 220px 70px ;
    background-image: url(images/IMG_5557.jpg);
    background-size: cover;
    color:ghostwhite;
    text-align: center;
   
}
.top-wrapper h1{
    opacity: 0.6;
    font-size: 30px;
    letter-spacing: 4px;
}
.top-wrapper p{
    opacity: 0.6;
    margin-top: 5px;
}
.gallery-wrapper{
    height: 100%;
    padding-bottom: 10px;
    background-color:azure;
}
.heading{
    padding-top: 60px;
    padding-bottom: 30px;
    color:darkred;
}
.heading h2{
    font-weight: normal;
    float: left;
    margin-left: 45px;
}
.gallery{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.gallery-item {
    margin-right: 5px;
    width: auto;  
}
.gallery-item a{
    background-color:rgba(17, 80, 111, 0.349);
    line-height:40px;
    color:white;
    display:inline-block;
}
.gallery-item a:hover{
    background-color: rgba(175, 7, 7, 0.5);

}
.gallery-item img {
    width: 80%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.gallery-item img:hover{
    transform: scale(1.05);
}
.message-wrapper{
    background-color: rgb(235, 235, 249);
    height:280px;
}
.message{
    line-height: 30px;
}

.contact-wrapper1 {
    background-color: #e9e9e9;
}

.contact-wrapper1 form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-wrapper1 .form-group {
    margin-bottom: 15px;
}

.contact-wrapper1 .form-group label {
    display: block;
    margin-bottom: 5px;
}

.contact-wrapper1 .form-group input,
.contact-wrapper1 .form-group textarea {
    width: 80%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-wrapper1 .form-group button {
    padding: 10px 15px;
    background-color: #132c29;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #e9e9e9;
    text-align:end;
    padding: 2px;
    color: firebrick;
    margin-top: px;
}
.contact a{
    color:coral;
    display: inline-block;
}
/* for Contact us site*/
.header {
    background-color:rgba(148, 93, 93, 0.5);
    color: #fff;
    height: 60px;
}
.header-logo {
    float: left;
    font-size: 30px;
    padding:10px;
}
.contents{
    height: 10px;
    margin-top: 20px;
}
.contents-list{
    border-bottom: 2px solid cadetblue;
}
.section-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.instagram{
    font-size: 22px;
    color: coral;
}
.section-title span{
    color: darkseagreen;
}
.contents-list span{
    color: crimson;
}
.map p{
    font-size: 18px;
    color:darkred
}
.map a{
    margin-left: 1;
    font-size: 35px;
    color: darkorange;
    
    margin-top: 50px;
    
}
.map a:hover{
    color: #007bff;
}
/* for about us*/
.intro-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.about-wrapper h3{
    color:brown;
}
.about-wrapper p{
    line-height: 25px;
}
